.contenedor{
    display: flex;
    width: 28rem;
    height: 26rem;
    margin-left: 38%;
    
    margin-top: 8%;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    background-color: #282929;
}
.form{
    margin-top: 0;
    display: block;
    /* justify-content: center;
    flex-direction: column;
    align-items: center; */
    padding: 20px;
}

.h1form{
    color: #ffffff;
    font-size: 46px;
    margin: 0;
}
.h2form{
    color:#e0bd49;
    font-size: 24px;
    font-weight: 400; 
    margin: 0;
}
.divdatos{
    display: block;
    margin: 10px 0;
}
.input{
    display: block;
    width: 100%;
    padding: 8px;
    background: #CCC;
    border: 3px solid #888;
}
.error{
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.userPass{
    color: #b3b3b3;
    font-size: 30px;
    font-weight: 500;
    margin-top: 3%;
}
.boton{
    border: 2px solid #888;
    padding: 10px 20px;
    background-color: #cc9e42;
    color: #f7fafd;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    margin-left: 39%;
}
.submit{
    padding: 10px 0;
}