@font-face{
    font-family: future;
    src: url(/./src/fontStyle.ttf);
}
.divorin{
    display: flex;
    height: 7rem;
    background-color: #282929;
    justify-content: space-evenly;
    align-items: center;
}

.navi{
    font-family: future;
    padding: 10px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #cc9e42 ;
    border-radius: 8px;
}
.padreLogOut{
    /* display: flex; */
    margin-left: 110rem;
    position: fixed;
    top: 10px;
}
.logOut{
    font-family: future;
    border: 2px solid #888;
    padding: 3px;
    background-color: #282929;
    color: #cc9e42;
    font-size: 15px;
    margin-left:5px;
}
.logOut:hover{
    background-color: grey;
}